[Unit]
Description=Kland dotnet (new)

[Service]
WorkingDirectory=/var/www/kland
ExecStart=/var/www/kland/kland --urls "http://localhost:5010"
Restart=always
RestartSec=10
KillSignal=SIGINT
SyslogIdentifier=kland
User=www-data
# Environment=ASPNETCORE_ENVIRONMENT=Production
# Environment=DOTNET_PRINT_TELEMETRY_MESSAGE=false

[Install]
WantedBy=multi-user.target
