<form action="/settings" method="post" class="settingsform">
   <input name="poststyle" value="{{postStyle}}" placeholder="Style from post#">
   <input name="adminid" value="{{adminId}}" {{#isAdmin}}data-admin{{/isAdmin}} placeholder="Admin ID">
   <input type="hidden" name="redirect" value="{{requestUri}}">
   <input type="submit" value="Set">
</form>
<a href="/image">Upload Images Without Posting</a>
<div class="about">
   <span>haloopdy 2017-2021</span>
   <span class="version">V.{{appversion}}</span>
   <span class="info">GCSERVER: {{isgcserver}}</span>
</div>