<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,maximum-scale=1">
<link rel="stylesheet" type="text/css" href="/style.css?version={{appversion}}">
<link rel="stylesheet" type="text/css" href="/org.css?version={{appversion}}">
<script src="/main.js?version={{appversion}}"></script>
<script src="/org.js?version={{appversion}}"></script>
<script src="/randomous.js?version={{appversion}}"></script>
<link href="/wanpaku-kun.ico" rel="icon">