<form action="/submitpost" method="post" class="postform" enctype="multipart/form-data">
    <input name="usernamekek" maxlength="30" placeholder="Nickname (optional)">
    <input name="tripfag" maxlength="254" placeholder="Trip (optional)">
    <input name="subject" maxlength="254" required="" placeholder="Subject">
    <input type="file" name="image" accept="image/*">
    <textarea name="shitcontent" required="" placeholder="Content"></textarea>
    <input type="submit" value="Post">
</form>